version 6.0.7
framework: net6.0
storage: none
source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/fc1943s/index.json username: "%GITHUB_ACTOR%" password: "%GITHUB_READ_PACKAGES_TOKEN%"

nuget FSharp.Core ~> 5.0

nuget FsCore -> 0.0 prerelease

// FsJs
nuget Fable.DateFunctions ~> 3.6
nuget Fable.Extras ~> 0.4
nuget Fable.Jester ~> 0.33
nuget Fable.ReactTestingLibrary ~> 0.33
nuget Thoth.Json ~> 6.0
