type project
authors fc1943s
description Minimal F#/JavaScript bindings
language F#
tags fsharp, fable
repositoryType git
repositoryUrl https://github.com/fc1943s/FsJs
include-pdbs true
include-referenced-projects true
files
    *.fsproj ==> fable
    src/*.fs ==> fable
    src/Bindings/*.fs ==> fable/Bindings

